Essentials/
EssentialsX-2.19.7.jar
EssentialsXChat-2.19.7.jar
EssentialsXSpawn-2.19.7.jar
Geyser-Spigot/
Geyser-Spigot.jar
LuckPerms/
LuckPerms-Bukkit-5.4.49.jar
Multiverse-Core/
Multiverse-Core-4.3.1.jar
Multiverse-Inventories/
Multiverse-Inventories-4.2.3.jar
Multiverse-Portals/
Multiverse-Portals-4.2.1.jar
PluginMetrics/
Skript/
Skript.jar
Vault/
Vault.jar
VisualBukkitPlugin.jar
WorldEdit/
WorldGuard/
bStats/
dynmap/
dynmap.jar
floodgate/
floodgate-spigot.jar
worldedit-bukkit-7.2.12.jar
worldguard-bukkit-7.0.7-dist.jar
